@page "/about"
@using hopkins.tech.Shared
@inject HttpClient Http

<PageTitle>Ben Hopkins - About</PageTitle>

<div class="container-fluid content d-flex flex-column justify-content-center vh-100">
    @if (content == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="col-md-12 col-lg-10 col-xl-8">
            @((MarkupString)(content.About ?? ""))
            <br />
        </div>
    }
</div>

@code {
    private AboutData? content;

    protected override async Task OnInitializedAsync()
    {
        content = await Http.GetFromJsonAsync<AboutData>("api/about");
    }
}