@page "/blog/{url}"
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="container-fluid content">
    @if (blogPost == null)
    {
       <PageTitle>Ben Hopkins - Blog</PageTitle>
       <p><em>Loading...</em></p>
    }
    else
    {
        <PageTitle>Ben Hopkins - @blogPost.Title</PageTitle>
        <h1>@blogPost.Title</h1>
        <div>@blogPost.Posted.ToLongDateString()</div>
        <hr />
        <div class="col-md-12 col-lg-10 col-xl-8">
            @((MarkupString)(blogPost.Post ?? ""))
        </div>
    }
</div>

@code {
    [Parameter] public string? url { get; set; }

    private BlogData? blogPost;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            blogPost = await Http.GetFromJsonAsync<BlogData>($"api/blog/{url}");
        }
        catch
        {
            Navigation.NavigateTo("/blog");
        }
    }
}
