@page "/blog/{url}"
@using hopkins.tech.Shared
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="container-fluid content">
    @if (blog == null)
    {
       <PageTitle>Ben Hopkins - Blog</PageTitle>
       <p><em>Loading...</em></p>
    }
    else
    {
        <PageTitle>Ben Hopkins - @blog.Title</PageTitle>
        <h1>@blog.Title</h1>
        <div>@blog.Posted.ToLongDateString()</div>
        <hr />
        <div class="col-md-12 col-lg-10 col-xl-8">
            @((MarkupString)(blog.Post ?? ""))
        </div>
    }
</div>

@code {
    [Parameter] public string? url { get; set; }

    private BlogData? blog;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            blog = await Http.GetFromJsonAsync<BlogData>($"api/blog/{url}");
        }
        catch
        {
            Navigation.NavigateTo("/blog");
        }
    }
}
