@page "/"

<PageTitle>Ben Hopkins</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1>Hello, I am Ben</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-row flex-wrap">
            <div class="p-2">LinkedIn</div>
            <div class="p-2">YouTube</div>
            <div class="p-2">Instagram</div>
            <div class="p-2">Twitter</div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="p-2">GitHub</div>
            <div class="p-2">Stack Overflow</div>
            <div class="p-2">Docker Hub</div>
            <div class="p-2">NuGet</div>
        </div>
    </div>
</div>
