@page "/"

<PageTitle>Ben Hopkins</PageTitle>

<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <h1>Hello, I am Ben</h1>
    </div>
    <hr class="divider" />
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-row flex-wrap">
            <div class="p-2">LinkedIn</div>
            <div class="p-2">GitHub</div>
            <div class="p-2">Stack Overflow</div>
            <div class="p-2">YouTube</div>
            <div class="p-2">Instagram</div>
            <div class="p-2">Twitter</div>
            <div class="p-2">Docker Hub</div>
            <div class="p-2">NuGet</div>
        </div>
    </div>
</div>