@page "/projects"

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>