@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar d-flex flex-column justify-content-center fixed-top">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
