@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar fixed-top">
        <NavMenu />
    </div>

    <main>
        <article class="container-fluid">
            @Body
        </article>
    </main>
</div>
